$verde: #00ad95;
$gris: #5c5c5c;
$grisOscuro: #2a2c2c;
$naranja:#f25a04;
$anchoDesktop: 1200px;
$anchoTablet: 992px;
$anchoMobile: 767px;
$garamond: 'EB Garamond', serif;
$roboto: 'Roboto Condensed', sans-serif;
$miso: 'Miso-Light';
$open: 'Open Sans', sans-serif;
$marginBottom: 5rem;

